/* Chat Widget Styles */
@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&display=swap');

.chat-box {
  right: 20px;
  width: 350px;
  margin: 0 auto;
  background: rgb(255, 255, 255);
  border-radius: 10px;
  flex-direction: column;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  font-family: "Hind Siliguri", serif;
  position: fixed;
  bottom: 4.5rem;
  display: none;

  z-index: 5000000000 !important;
}


.chat-box.active {
  display: block;
  z-index: 5000000000;
}

.chat-toggle {
  position: fixed;
  bottom: 20px;
  right: 20px;
  color: white;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 5000000000 !important;
}
.chat-toggle i {
  font-size: 24px;
}


.chat-toggle{
  background-color: var(--primary-widget-color, #0A5);
}


.chat-header {
  background-color: var(--primary-widget-color, #0A5);
  color: white;
  padding: 20px;
  font-size: 16px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  position: relative;
}
.chat-header .bars {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 1rem;
}


.bars svg{
  color: #fffafa;
  border-radius: 50%;
  padding: 5px;
  /* color: var(--primary-widget-color, #0A5); */
  cursor: pointer !important;
}

.chat-bot {
  padding: 10px;
  font-size: 16px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


#widgetName{
  font-size: 16px !important;
}

.chat-bot img {
  height: 62px;
  height: 62px;
}

.chat-bot .close-btn {
  background: transparent;
  border: none;
  color: white;
  font-size: 20px;
  cursor: pointer;
}

.chat-body {
  max-height: 350px;
  min-height: 350px;
  overflow-y: auto;
  padding: 10px;
  background: #f9f9f9;
}

.messages {
  display: flex;
  flex-direction: column;
}

.message {
  margin-bottom: 10px;
  padding: 8px 12px;
  border-radius: 15px;
}

.user-message {
  background-color: var(--primary-widget-color, #0A5);
  color: white;
  align-self: flex-end;
}

.bot-message {
  background-color: #e1e1e1;
  align-self: flex-start;
}

.chat-footer {
  display: flex;
  border-top: 1px solid #ddd;
  padding: 5px;
  background: #f9f9f9;
}

.chat-footer input {
  flex: 1;
  border: none;
  padding: 10px;
  border-radius: 20px;
  margin-right: 5px;
  outline: none;
  background: #f0f0f0;
}

.chat-footer button {
  background: var(--primary-widget-color, #0A5);
  color: white;
  border: none;
  padding: 3px 20px;
  border-radius: 30px;
  cursor: pointer;
}

.chat-footer button:hover {
  background: var(--primary-widget-color, #0A5);
}

.message.bot-message.loading {
  font-style: italic;
  color: gray;
}